main > section {
    background-color: var(--white);
    border: 1px solid var(--dark-40);
    border-radius: var(--radius);
    margin-inline: 0.5rem;
}

main > section:has(figure:first-of-type) {
    display: inherit;
    flex-direction: column;
    align-self: center;
    width: 45rem;
}

main > section:has(figure:first-of-type) a {
    color: var(--dark-60);
    transition: inherit;
}
main > section:has(figure:first-of-type) a:hover {
    color: var(--dark);
}

main > section:has(figure:first-of-type) h1 {
    font-size: 2.5rem;
}
main > section:has(figure:first-of-type) h2 {
    font-size: 1.5rem;
}

main > section:has(figure:first-of-type) h3 {
    font-size: 1.3rem;
}
main > section:has(figure:first-of-type) h4 {
    font-size: 1.2rem;
}
main > section:has(figure:first-of-type) h5 {
    font-size: 1.1rem;
}
main > section:has(figure:first-of-type) h6 {
    font-size: 1rem;
}

main > section:has(figure:first-of-type)  figure{
    position: relative;
    height: 20rem;
}
main > section:has(figure:first-of-type) article {
    padding: 3rem 2rem;
}
main > section:has(figure:first-of-type) > figure img{

    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

main > section:has(figure:first-of-type) article figure img {
    border-radius: var(--radius);
}


main > section:has(figure:first-of-type) figcaption {
    font-size: 0.7rem;
}
main > section:has(figure:first-of-type) article > div:first-of-type  {
    font-size: 0.8rem;
}
main > section:has(figure:first-of-type) article > h1 ~ div {
    margin-block-start: 1rem;
    margin-block-end: 3rem;
}
main > section:has(figure:first-of-type) article ul {
    list-style-type: none;
    padding-inline-start: 1rem;
}
main > section:has(figure:first-of-type) article ul li {
    position: relative;
    padding-left: 1rem;
}
main > section:has(figure:first-of-type) article ul li:before{
    content: '-';
    position: absolute;
    left: 0;
}

main > section:has(figure:first-of-type) article q{
    font-style: italic;
    font-size: 1.1rem;
}
main > section:has(figure:first-of-type) figure img ~ figcaption {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--grey-211);
    background-color: var(--dark-60);
    padding: 0 0.75rem;
}

main ~ section {
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow:  2px 0 4px 1px rgba(0, 0, 0, .09);
    flex-wrap: wrap;
    padding-inline: 4rem;
    padding-block: 3rem;
    transition: inherit;
}

main ~ section figure {
    position: relative;
    height: 8rem;
    flex-grow: 0.7;
}
main ~ section figure img {
    border-radius: var(--radius);
}

main ~ section > :is(div:first-of-type, div:last-of-type) {
    width: calc(100%/2);
    order: 1;
}
main ~ section > div:first-of-type {
    padding-inline-start: 1rem;
}
main ~ section > div:last-of-type {
    padding-block-end: 1rem;
}
main ~ section > div{
    display: flex;
    flex-direction: column;
}
main ~ section > div > h1 {
    padding-left: 1rem;
    font-size: 2.5rem;
    margin-block: 1rem;
    text-transform: capitalize;
}
main ~ section > div:not(:not(div:first-of-type, div:last-of-type)) > div {
    display: flex;
    flex-direction: column;
}
main ~ section > div > div > a {
    display: inherit;
    flex-direction: row;
    padding: 1rem;
    flex: 1;
}
main ~ section div > div > a  > article {
    flex: 1;
    margin-left: 1rem;
    align-self: baseline;
}
main ~ section > div > div > a > article > h1 {
    font-size: 1.3rem;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-block-end: 0.3rem;
}


main ~ section > div:not(div:first-of-type, div:last-of-type) {
    width: 100%;
    padding-inline: 1rem;
    order: 3;
}

main ~ section > div:not(div:first-of-type, div:last-of-type)  > div {
    display: flex;
    flex-direction: row;
}

main > section:has(figure:first-of-type) > div {
    padding-inline: 2rem;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main > section:has(figure:first-of-type) > div p {
    margin: 0;
}

article ~ div > div  {
    display: inherit;
}

article ~ div > div :is(a , button) {
    background: var(--dark);
}

article ~ div > div :is(a , button) {
    border: none;
    border-radius: 50%;
    outline: none;
    width: 24px;
    height: 24px;
    margin-inline-end: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 0.7rem;
}

article ~ div > div :is(button svg, a svg) {
    fill: var(--white);
}
article ~ div > div :is(button svg , a svg){
    width: 17px;
    height: 17px;
    position: absolute;
}

article ~ div > div button::before {
    transform: translateX(50%);
    content: attr(aria-label);
    visibility: hidden;
    background-color: var(--grey-54);
    color: var(--white);
    text-align: center;
    border-radius: 0.2rem;
    padding-block: 0.4rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: 60%;
    margin-left: -2rem;
    padding-inline: 6px;
    white-space: pre;
    pointer-events: none;
}

article ~ div > div button:hover::before{
    visibility: visible;
}

body.dark article ~ div > div button::before 
 {
    background-color: var(--white);
    color: var(--grey-54);
}

body.dark article ~ div > div :is(button svg , a svg) {
    fill:  var(--grey-54);
}

body.dark article ~ div > div :is(a , button){
    background: var(--white);
}


body.dark main > section {
    background-color: var(--grey-54);
}

body.dark main ~ section {
    background-color: var(--grey-54);
}

body.dark main > section:has(figure:first-of-type) a {
    color: inherit;
}

@media (max-width: 1024px) {
    main ~ section {
        padding-inline: 1rem;
    }

    main ~ section > div:first-of-type,
    main ~ section > div:last-of-type,
    main ~ section > div:not(div:first-of-type, div:last-of-type) {
        padding: 0;
    }
    main ~ section > :is(div:first-of-type, div:last-of-type) {
        width: 100%;
    }
    main ~ section > div:not(div:first-of-type, div:last-of-type) > div {
        flex-direction: column;
    }
}

